<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!--Plugins Css-->
    <link rel="stylesheet" href="css/plugins.css">
    <!--Main Styles Css-->
     <link rel="stylesheet" href="css/style-dark.css">

    <!--Color Css-->
    <link class="site-color" rel="stylesheet" href="css/blue-color.css">
</head>
<body>
<!--Resume Section Start-->
            <section id="resume" class="resume-section pt-page">
                <div class="section-container">
                    <div class="page-heading">
                        <span class="icon"><i class="lnr lnr-license"></i></span>
                        <h2>My Resume.</h2>
                    </div>

                    <!--Education & Experience Row Start-->
                    <div class="row mb-20">

                        <!--Experience Column Start-->
                        <div class="col-lg-6">
                            <div class="subheading">
                                <h3>Experience</h3>
                            </div>
                            <ul class="experience">

                                <!--Experience Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>Lead UI Designer</h4>
                                        <h5>Big Design Company, NY, USA</h5>
                                        <p class="info">
                                            Sit cupiditate praesentium ex esse nulla Facere fuga perspiciatis eveniet provident neque Ea ratione non minus temporibus ipsum Sunt minima
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2018</span>
                                    <span class="from">2016</span>
                                    </span>
                                </li>

                                <!--Experience Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>Web Designer</h4>
                                        <h5>Design Company, London, UK</h5>
                                        <p class="info">
                                            Dolor id atque accusantium ut impedit odit provident soluta voluptatem Veritatis ipsam neque mollitia vero suscipit a laborum doloremque. Ipsa!
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2016</span>
                                    <span class="from">2015</span>
                                    </span>
                                </li>

                                <!--Experience Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>Web Developer</h4>
                                        <h5>Exis Development, London, UK</h5>
                                        <p class="info">
                                            Consectetur pariatur fugiat ipsam aperiam maiores. Nisi in dignissimos debitis expedita asperiores delectus vitae corporis.
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2015</span>
                                    <span class="from">2014</span>
                                    </span>
                                </li>

                            </ul>
                        </div>
                        <!--Experience Column End-->

                        <!--Education Column Start-->
                        <div class="col-lg-6">
                            <div class="subheading">
                                <h3>Education</h3>
                            </div>

                            <ul class="education">

                                <!--Education Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>MA Graphics</h4>
                                        <h5>Royal College of Art, London, UK</h5>
                                        <p class="info">
                                            Consectetur mollitia amet inventore nisi sed. Provident veritatis exercitationem eum doloremque itaque expedita? Ex voluptatem nostrum numquam illum.
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2014</span>
                                    <span class="from">2013</span>
                                    </span>
                                </li>

                                <!--Education Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>BA(HONS) Graphics</h4>
                                        <h5>Central Saint Martins, London, UK</h5>
                                        <p class="info">
                                            Elit voluptatibus quas necessitatibus ullam tenetur provident voluptatibus. Ratione delectus lorem minus ipsa architecto. Saepe officiis sint adipisci.
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2013</span>
                                    <span class="from">2012</span>
                                    </span>
                                </li>

                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>BA(HONS) Graphics</h4>
                                        <h5>Central Saint Martins, London, UK</h5>
                                        <p class="info">
                                            Elit voluptatibus quas necessitatibus ullam tenetur provident voluptatibus. Ratione delectus lorem minus ipsa architecto. Saepe officiis sint adipisci.
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2013</span>
                                    <span class="from">2012</span>
                                    </span>
                                </li>

                                <!--Education Item-->
                                <li>
                                    <span class="line-left"></span>
                                    <div class="content">
                                        <h4>Web & Graphics Diploma</h4>
                                        <h5>Tech Arts Institute, CA, USA</h5>
                                        <p class="info">
                                            Ipsum ex exercitationem est aliquid eos saepe. Dolorum aperiam cupiditate labore vero deleniti Aut unde deserunt neque voluptas.
                                        </p>
                                    </div>
                                    <span class="year">
                                            <span class="to">2012</span>
                                    <span class="from">2011</span>
                                    </span>
                                </li>

                            </ul>
                        </div>
                        <!--Education Column End-->

                    </div>
                    <!--Education & Experience Row End-->


                    <!--Skills Row Start-->
                    <div class="row">

                        <!--Design Skills Column Start-->
                        <div class="col-lg-6 skills">
                            <div class="subheading">
                                <h3>Skills</h3>
                            </div>

                            <!--Design Skill Item-->
                            <div class="skill-item">
                                <h4 class="progress-title">Coral Draw</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-progress-value="91">
                                        <div class="progress-value">91%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="skill-item">
                                <h4 class="progress-title">Coral Draw</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-progress-value="91">
                                        <div class="progress-value">91%</div>
                                    </div>
                                </div>
                            </div>
                            <!--Design Skill Item-->
                            <div class="skill-item">
                                <h4 class="progress-title">Photoshop</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-progress-value="82">
                                        <div class="progress-value">82%</div>
                                    </div>
                                </div>
                            </div>

                            <!--Design Skill Item-->
                            <div class="skill-item">
                                <h4 class="progress-title">Illustrator</h4>
                                <div class="progress">
                                    <div class="progress-bar" data-progress-value="94">
                                        <div class="progress-value">94%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</body>
</html>